<h1>About the app</h1>
<p class="bg-info text-danger">This the about page
  in this program, we have the todo list, and if the user want to input something,
  the user can choose to ask chatgpt whethert whether it is the right to day to do this things according to Chinese special date caculation.
  and also the User can choose to take some advises from ChatGpt;</p>