
    <h1>2023CS103 Team Project
        By Yuxuan Xiong and Weixuan Zhang
      </title></h1>
    <p class="text-danger">Welcome to the App</p>
    <!-- Here we show how to encode a URI and get weather data -->
    <% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
        <br>

  
    
  
